extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Modal Example
      // Trigger the modal with a button
      button.btn.btn-info.btn-lg(type='button' data-toggle='modal' data-target='#myModal') Open Modal
      // Modal
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button' data-dismiss='modal') &times;
              h4.modal-title Modal Header
            .modal-body
              p Some text in the modal.
            .modal-footer
              button.btn.btn-default(type='button' data-dismiss='modal') Close
